.card{
    border: 1px solid red;
    padding: 2rem;
}


.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem 0;
}