.apply_form {
    padding: 4rem 0;
    .container {
    }
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    @media (max-width: 768px) {
        flex-direction: column;
    }
    .col {
        max-width: 50%;
        flex: 1 1 auto;
        @media (max-width: 768px) {
            max-width: 100%;
        }
    }
}
