.header {
    padding: 1rem 0;
    box-shadow: 0px 5px 10px -5px #707070b8;
    position: sticky;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 9999;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo {
    width: 120px;
    height: 40px;
}
.nav .navbar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav .navbar .navItem a {
    padding: 0.5rem 1rem;
    font-size: 16px;
    font-weight: 500;
    color: #707070;
}
.nav .navbar .navItem a:hover {
    color: #6b5edb;
}
